---
import { getCollection } from 'astro:content'
import DetailLayout from '../../layouts/DetailLayout.astro'
import CommunityHeader from '../../components/community/CommunityHeader.astro'
import CommunityMetadata from '../../components/community/CommunityMetadata.astro'
import CommunityEvents from '../../components/community/CommunityEvents.astro'
import {
  separateEventsByDate,
  getCommunitySlug,
  getCommunityEvents
} from '../../utils/community-utils'
import '../../styles/pages/CommunityDetail.css'

export async function getStaticPaths() {
  const communities = await getCollection('communities')
  return communities.map(community => {
    const slug = getCommunitySlug(community.id)
    return {
      params: { slug },
      props: { community }
    }
  })
}

const { community } = Astro.props
const {
  name,
  description,
  logo,
  website,
  socials,
  technologies,
  meetingFrequency
} = community.data

const communitySlug = getCommunitySlug(community.id)
const allEvents = await getCommunityEvents(getCollection, communitySlug)
const { upcomingEvents, pastEvents } = separateEventsByDate(allEvents)
---

<DetailLayout title={`${name} - CoruñaTech`} description={description}>
  <div class="community-detail">
    <CommunityHeader
      name={name}
      description={description}
      logo={logo}
      website={website}
      socials={socials}
    />

    <CommunityMetadata
      technologies={technologies}
      meetingFrequency={meetingFrequency}
    />

    <CommunityEvents
      upcomingEvents={upcomingEvents}
      pastEvents={pastEvents}
      communityName={name}
    />
  </div>
</DetailLayout>
